.activities {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;

}

.fontAwsome {
    padding-left: 50px;
    display: flex;
    align-items: center;
    color: cadetblue;

}

.short-p {
    padding-left: 50px;
}

.player-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* .cart-container {
    justify-content: center;
    align-items: center;
} */

.name {
    text-align: center;
}

.my-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 35px;
    background-color: antiquewhite;
    border-radius: 30px;
}